{{ template "header.html" . }}

  <div class="row">
    <div class="col-lg-9">
      <h2>About</h2>
      <p>
        <a href="{{ .BaseUrl }}">{{ .Apex }}</a> is a small, self-contained, easily deployable, and fast paste service.
        It has most of the usual features and includes a few new ones.
      </p>

      <p>
        (Ends)
      </p>
    </div>
    <div class="col-lg-3">
      <h3>AppsAttic</h3>
      <p>
        We love creating Web Apps, so much so that we
        <a href="https://github.com/appsattic">give them to you for free</a>
        (all open source).
        For most projects we also host a freely usable version too.
      </p>
      <p>
        In some cases, we charge a small amount for our own hosted version so we can pay the bills.
        This also enables us to provide all of these services to you.
      </p>
      <p>
        We also accept donation, both regular and one-off.
        If you do choose to donate, you can think of this as 'payment' for the multiple services we provide.
        for
      </p>
      <h3>Our Other Projects</h3>
      <p>
        &bull; <a href="https://cssminifier.com/">CSS Minifier</a> - used by over 50,000 people every month.
      </p>
    </div>
  </div>

{{ template "footer.html" . }}
