{{ template "header.html" . }}

  <div class="jumbotron">
    <h1 class="display-3">New Paste</h1>
    <p class="lead">
      Paste what you like.
    </p>
    <form method="post" action="/paste">
      <label for="text">Text</label>
      <br>
      <textarea id="text" name="text"></textarea>
      <br>
      <label for="title">Title</label>
      <br>
      <input id="title" type="text" name="title">
      <br>
      <input id="submit" type="submit" class="btn btn-primary" name="title" value="Create New Paste">
    </form>
  </div>

{{ template "footer.html" . }}
